*, *::before, *::after {
    box-sizing: border-box;
}

.box {
    /* width: 300px;
    height: 300px;
    background-color: green;
    margin: 100px auto;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50% 50%; */

    /* Practica */
    margin: 100px auto;
    --border-radius-y: 60px;
    --border-radius-x: 60px;
    padding-top: 0.1px;
    width: 500px;
    height: 350px;
    background: hsl(10, 90%, 50%);
    /* border-top-right-radius: var(--border-radius-x);
    border-top-left-radius: var(--border-radius-x);
    border-bottom-right-radius: var(--border-radius-y);
    border-bottom-left-radius: var(--border-radius-y); */

    border-radius:  var(--border-radius-x) / var(--border-radius-x);
} 

.play {
  width: 200px;
  height: 200px;
  margin-left: 150px;
  margin-top: 75px;
  border: 100px solid;
  border-color: transparent transparent transparent white
}