*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 2em;
}

.card {
    width: 600px;
    position: relative;
}

.card-img {
    width: 100%;
    display: block; /*Resulve el problema del espacio abajo*/
}

.card-title {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}